body{
    background-color:black;
    color: red;
    font-family: 'Yellowtail', cursive;
    font-size: larger;
}
nav{
    position: fixed;
    
}
.dnd{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 250px;
    width: 250px;
    padding-top: 20px;
}
.text{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;

}
a{
    position: sticky;
   color: rgb(5, 5, 10);
    background-color: crimson;

}
table{
    border-collapse: collapse;
    width: 25%;
}
table, th, td, tr{
    border: 3px solid red;
    height: 40px;
}
.footer{
    color:red
}