#sticky{
    position: fixed;
}
img{
    width: 300px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.box{
    height:100px;
    display: inline-block;
    position: relative;
    margin: 1%;
}
.one{
    width: 98%;
    background-color: #F5C6D6;
}
.twoone{
    width: 22%;
    background-color: #EE2E84;
}
.twotwo{
    width: 23%;
    background-color: #EE2E84;
}
.twothree{
    width: 23%;
    background-color: #EE2E84;
}
.twofour{
    width: 23%;
    background-color: #EE2E84;
}
.threeone{
    width: 47%;
    background-color: #85CFD8;
}
.threetwo{
    width: 48%;
    background-color: #85CFD8;
}
.fourone{
    width: 65%;
    background-color: #8DC63F;
}
.fourtwo{
    width: 30%;
    background-color: #E76E34;
}