h1{
    color:darkgreen;
}
.georgia{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}
p{
    line-height: 25px;
}
a{
    text-decoration:none;
}
#caps{
    text-transform: uppercase;
}
a:hover{
    text-decoration: underline;
}
img{
    float: left;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}